.loadingWrapper {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: #002d5a;
  color: white;
  text-align: center;
  padding: 20px;
}

.loader {
  width: 60px;
  height: 60px;
  border: 6px solid #eee;
  border-top: 6px solid #ff9800;
  border-radius: 50%;
  animation: spin 1s linear infinite;
  margin-bottom: 20px;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}
